<!DOCTYPE html>
<html lang="en">
<head>
    <title>AngularJS</title>
    <script type="text/javascript" src="js/angular-1.6.4/angular.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/customer.js"></script>

</head>

<body ng-app="app">
<div ng-controller="HelloController">
    <h2>{{message}}</h2>
    <div>
        {{error}}
    </div>
    {{username}}
    <form name="searchUser">
        <input type="search" placeholder="Username to find" ng-model="username"/>
        <input type="submit" value="Search" ng-click="search(username)" />
    </form>
    <div>
        <h1>Name : {{user.name}}</h1>
        <h1>Location : {{user.location}}</h1>
        <div>
            <img ng-src="{{user.avatar_url}}" tittle="{{user.name}}" >
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th> Name</th>
            <th> language</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="repo in repos">
            <td>{{repo.name}}</td>
            <td>{{repo.language}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>